:root {
    --fonte-familia-corpo: 'Montserrat', sans-serif;
    --fonte-familia-logo: 'Pacifico', cursive;

    --fonte-peso-input: 300;

    --fonte-tamanho-logo: 28px;
    --fonte-tamanho-cartao-titulo: 28px;
    --fonte-tamanho-input-label: 20px;
    --fonte-tamanho-botao: 22px;
    --fonte-tamanho-formulario-fieldset: 22px;
    --fonte-tamanho-tabela-cabecalho: 22px;
    --fonte-tamanho-modal-titulo: 28px;
    --fonte-tamanho-modal-botao: 28px;
    --fonte-tamanho-flipdown-titulo: 28px;
    --fonte-tamanho-flipdown-texto: 20px;

    
    --cor-primaria: #1e464f;
    --cor-secundaria: #466b74;
    --cor-contraste-escuro: #466b74;
    --cor-contraste-claro: #E5e0ca;
    --cor-aviso: #df2525;
    --cor-sucesso: #047900;
    --cor-transparencia: #4d4d4d33;

    --sombra: 0 5px 10px #55a6ff38;
}

@media(min-width: 800px) {
    :root {
        --fonte-tamanho-logo: 56px;
    }
}
