.pessoa__imagem {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    height: 300px;
    margin: 0 auto;
    width: 300px;
}

.pessoa__imagem--stephane {
    background-image: url('/assets/img/pessoa-stephane.png');
}

.quemSomos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 3rem;
}